@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

$theme-font: 'Muli', sans-serif;
$main-color: linear-gradient(#03071e, #370617);
$color-light: #fff;
$color-smooth: #666;
$color-dark: #000;
